<ion-view view-title="Agenda" ng-controller="AgendaCtrl">
  <ion-nav-buttons side="right">
    <ionic-multi-date-picker input-obj="datepickerObject" style="margin-top: -8px;">
      <button class="button button-block my-button-calendar-color">
        <i class="icon ion-calendar-icon"></i>
      </button>
    </ionic-multi-date-picker>
  </ion-nav-buttons>
  <ion-content scroll="true" padding="true" class="has-header content-stable">
    <ion-list show-delete="true">
      <div class="item item-divider">
        Eventos ({{ dados.length }}):
      </div>
      <!--<div class="item" ng-repeat="d in selectedDates" ng-click="openModal(3)">
          {{ d.getDate() }}/{{ d.getMonth() + 1 }}/{{ d.getFullYear() }}<i class="icon ion-edit positive position-button"></i>
      </div>-->

      <ion-item collection-repeat="dado in dados track by dado.idAgenda" ng-click="openModal(3,dado.idAgenda)">
        <p><strong>Título agenda:</strong> {{ dado.tituloAgenda }}</p>
        <p><strong>Data incial:</strong> {{ dado.dataInicial }}</p>
        <!--<p><strong>Data final:</strong> {{ dado.dataFinal}}</p>-->
        <ion-delete-button class="ion-minus-circled" ng-click="removerAgenda(dado)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <script id="templates/modal-3.html" type="text/ng-template">
    <div class="modal">
      <header class="bar bar-header barra-superior">
        <h1 class="title font-barra-superior" style="text-align: center">Evento</h1>
        <div class="button button-clear" ng-click="closeModal(3)"><span class="icon ion-close"></span></div>
      </header>
      <ion-content has-header="true" padding="true" scroll="true" class="grid-basic-page">
        <form id="agendaForm" name="agendaForm" novalidate ng-submit="incluirAgenda(agendaForm.$valid)">
          <!--<p>This is a modal</p>-->
          <div class="list" style="padding-top: 47px;">

            <label class="item item-input item-stacked-label my-item">
              <div class="input-label my-font-form">Título</div>
              <input ng-model="dadosAgenda.tituloAgenda" type="text" name="tituloAgenda" required ng-maxlength="60">
              <span ng-show="agendaForm.$submitted && agendaForm.tituloAgenda.$error.maxlength && !hideSpan"
                    class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> máximo 60 caracteres</span>
                    <span ng-show="agendaForm.$submitted && agendaForm.tituloAgenda.$error.required && !hideSpan"
                          class="my-font-form-span cor-campo-novalid"><i class="ion-information-circled"></i> campo obrigatório</span>
            </label>

            <li class="item item-toggle my-item" style="padding: 16px;">
              <span class="input-label my-font-form">Dia inteiro?</span>
              <label class="toggle toggle-positive my-item">
                <input type="checkbox" ng-model="dadosAgenda.diaInteiro" ng-true-value="'1'" ng-false-value="'0'"
                       name="dadosAgenda.diaInteiro">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>

            <label class="item item-stacked-label my-item">
              <span class="input-label my-font-form">Data inicial</span>
              <!--<div><p>{{dataInicial}}</p></div>-->
              <input type="date" ng-model="dadosAgenda.dataInicialModal" name="dataInicial"
                     format-date ng-focus="clearMessageErro()">
            <span
              ng-show="agendaForm.$submitted && agendaForm.validade.$error.required"
              class="cor-campo-novalid my-font-form-span"><i
              class="ion-information-circled"></i> campo obrigatório</span>
              <span class="my-font-form-span cor-campo-novalid"><i ng-if="mensagemErroValidade"
                                                                   class="ion-information-circled"></i> {{mensagemErroValidade}}</span>

            </label>
            <div ng-if="dadosAgenda.diaInteiro == 0 || dadosAgenda.diaInteiro == null">
              <input type="time" ng-model="dadosAgenda.horaInicialModal" name="horaInicial" formatted-time>
            </div>

            <label class="item item-stacked-label my-item">
              <span class="input-label my-font-form">Data Final</span>
              <input type="date" ng-model="dadosAgenda.dataFinalModal" name="dataFinal"
                     format-date ng-focus="clearMessageErro()">
            <span
              ng-show="agendaForm.$submitted && agendaForm.validade.$error.required"
              class="cor-campo-novalid my-font-form-span"><i
              class="ion-information-circled"></i> campo obrigatório</span>
              <span class="my-font-form-span cor-campo-novalid"><i ng-if="mensagemErroValidade"
                                                                   class="ion-information-circled"></i> {{mensagemErroValidade}}</span>

            </label>
            <!--<div class="input-time" ng-if="dadosAgenda.diaInteiro == 0 || dadosAgenda.diaInteiro == null">-->
            <div ng-if="dadosAgenda.diaInteiro == 0 || dadosAgenda.diaInteiro == null">
              <input type="time" ng-model="dadosAgenda.horaFinalModal" name="horaFinal" formatted-time>
            </div>

            <label class="item item-input item-select my-item" style="padding: 5px 16px;">
              <div class="input-label my-font-form">Tipo notificação</div>
              <select name="tipoNotificacao" ng-model="dadosAgenda.tipoNotificacao" required>
                <option ng-repeat="tipo in tiposNotificacao" value="{{tipo.tipoNotificacao}}">{{tipo.label}}</option>
              </select>
            </label>
            <span ng-show="agendaForm.$submitted && agendaForm.tipoNotificacao.$error.required && !hideSpan"
                  class="my-font-form-span cor-campo-novalid my-align-spam"><i class="ion-information-circled"></i> campo obrigatório</span>

            <label class="item item-input item-select my-item" style="padding: 10px 16px;">
              <div class="input-label my-font-form">Tipo agenda</div>
              <select name="tipoAgenda" ng-model="dadosAgenda.tipoAgenda" required>
                <option ng-repeat="tipoAgenda in tiposAgenda" value="{{tipoAgenda.tipoAgenda}}">{{tipoAgenda.label}}
                </option>
              </select>
            </label>
            <span ng-show="agendaForm.$submitted && agendaForm.tipoAgenda.$error.required && !hideSpan"
                  class="my-font-form-span cor-campo-novalid  my-align-spam"><i class="ion-information-circled"></i> campo obrigatório</span>

            <label class="item item-input item-stacked-label my-item">
              <div class="input-label my-font-form">Descrição</div>
              <input ng-model="dadosAgenda.descricao" type="text" name="descricao" ng-maxlength="60">
              <span ng-show="agendaForm.$submitted && agendaForm.descricao.$error.maxlength && !hideSpan"
                    class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> máximo 60 caracteres</span>
            </label>


          </div>
        </form>
      </ion-content>
      <ion-footer-bar align-title="left" class="bar-stable">
        <button class="button" style="margin-left: 45%; color: #0c60ee"
                type="submit" form="agendaForm">Salvar
        </button>
        <!--<button class="button"-->
        <!--style="color: #0c60ee;max-width: 80px;width: 80px; font-size: 15px; background-color: #F8F8F8; margin-left: 90%; padding: 0 0px;"-->
        <!--type="submit" form="agendaForm">Salvar-->
        <!--</button>-->
        <!--<button class="button" style="margin-left: 45%; color: #0c60ee" type="submit" form="cotacaoRejeitarForm">Salvar-->
        <!--</button>-->
      </ion-footer-bar>
    </div>
  </script>
</ion-view>
