<ion-nav-bar>
</ion-nav-bar>
<ion-view hide-nav-bar="false" animation="slide-left-right">
  <ion-nav-title>
    <span class="font-barra-superior">Alterar senha</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear bar my-button-save" type="submit"
            form="alterarSenhaForm" style="color: #FFFFFF;">
      Salvar
    </button>
  </ion-nav-buttons>
  <ion-content ng-controller="AlterarSenhaCtrl" scroll="true" padding="true" class="has-header">

    <div class="content item-body" style="padding: 1px;">
      <div class="list" >
        <form id="alterarSenhaForm" name="alterarSenhaForm" novalidate ng-submit="verificaContrasenha();">
          <div class="list" style="margin-bottom: 2px;">
            <label class="item item-input item-stacked-label my-item">
              <div class="input-label my-font-form">Senha atual*</div>
              <input ng-model="novaSenha.senhaAtual" type="password" name="senhaAtual" ng-blur="verificaSenha()" ng-focus="clearMessageSenha()" required>
              <span ng-show="alterarSenhaForm.$submitted && alterarSenhaForm.senhaAtual.$error.required && !hideSpan"
                    class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> campo obrigatório</span>
              <span class="cor-campo-novalid my-font-form-span"><i ng-if="mensagemSenha"
                                                                   class="ion-information-circled"></i> {{mensagemSenha}}</span>
            </label>
          </div>

          <div class="list" style="margin-bottom: 2px;">
            <label class="item item-input item-stacked-label my-item">
              <div class="input-label my-font-form">Nova senha*</div>
              <input ng-model="novaSenha.senha" type="password" name="senha" required ng-maxlength="14" ng-minlength="6">
              <span ng-show="alterarSenhaForm.$submitted && alterarSenhaForm.senha.$error.required && !hideSpan"
                    class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> campo obrigatório</span>
              <span ng-show="alterarSenhaForm.$submitted && alterarSenhaForm.senha.$error.maxlength && !hideSpan"
                    class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> máximo 14 caracteres</span>
              <span ng-show="alterarSenhaForm.$submitted && alterarSenhaForm.senha.$error.minlength && !hideSpan"
                    class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> mínimo 6 caracteres</span>
            </label>
          </div>
          <div class="list" style="margin-bottom: 2px;">
            <label class="item item-input item-stacked-label my-item">
              <div class="input-label my-font-form">Confirmar senha</div>
              <input ng-model="novaSenha.confSenha" type="password" name="confSenha" required ng-focus="clearMessageSenha()" >
              <!--<span ng-show="alterarSenhaForm.$submitted && alterarSenhaForm.confSenha.$error.required && !hideSpan"-->
                    <!--class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> campo obrigatório</span>-->
              <span class="cor-campo-novalid my-font-form-span"><i ng-if="mensagem"
                                                                   class="ion-information-circled"></i> {{mensagem}}</span>
            </label>
          </div>
        </form>
      </div>
    </div>

  </ion-content>

</ion-view>
