<!--<ion-view view-title="{{pagetitle}}">-->
<ion-view>
  <ion-nav-title>
    <span class="font-barra-superior">{{pagetitle}}</span>
  </ion-nav-title>
  <!--<search-bar ng-model="search"></search-bar>-->

  <ion-nav-buttons side="secondary">
    <button ng-show="dados.length" class="button button-icon icon ion-ios-search-strong" style="color: #FFFFFF" ng-click="toggle()">
    </button>
  </ion-nav-buttons>

  <ion-header-bar ng-style="{ 'margin-top' : mostraFiltro == true ? '48px' : '0px'}">
  <!--<ion-header-bar class="fixedheader">-->
    <input type="search"
           placeholder="Buscar..."
           ng-model="filter"
           ng-focus="searchFocused = true"
           ng-change="scrollTop()"
           class="full-width">
    <button ng-if="filter.length"
            class="button button-icon ion-android-close input-button"
            ng-click="clearSearch()">
    </button>
  </ion-header-bar>

  <ion-content ng-controller="CotacoesListCtrl" scroll="true" ng-class="{'fixedlist': mostraFiltro == true}" class="my-item-list  content-stable" >
    <div ng-show="dados.length == 0">
      <p style="color: #8f8f8f; font-size: 15px; padding-top: 25px;" align="center">Não há
        informações para mostrar</p>
      <p style="text-align: center"><i class="ion-android-sad" style="color: #8f8f8f; font-size: 50px;"></i></p>
    </div>
    <ion-list>
      <ion-item collection-repeat="dado in dados | filter:filter track by dado.id_cotacao" href="#/side-menu21/cotacao/{{dado.id_cotacao}}">
        <p><strong>Tipo Evento:</strong> {{ dado.nome_evento }}</p>
        <p><strong>Serviço:</strong> {{ dado.nome_tipo_servico }}</p>
        <p><strong>Data Evento:</strong> {{ dado.data_evento}}</p>
      </ion-item>

    <!--<div ng-if="dados !== undefined && !dados.length" class="no-results">
      <p>No Results</p>
    </div>-->

  </ion-content>

</ion-view>
