<ion-view title="Cotacao" id="page6" class=" ">
  <ion-content padding="true" class="has-header">
    <div class="list card " id="cotacao-card23">
      <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body " id="cotacao-list-item-container4">
        <p id="cotacao-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
      <div class="item item-body " id="cotacao-list-item-container5">
        <p id="cotacao-markdown6" style="margin-top:0px;color:#000000;" class=" ">Some friendly
          <strong>markdown</strong>fdfdff</p>
        <p id="cotacao-markdown7" style="margin-top:0px;color:#000000;" class=" ">Some friendly
          <strong>markdown</strong>fdfdff</p>
      </div>
    </div>
  </ion-content>
</ion-view>
