<ion-view view-title="{{pagetitle| lowercase}}">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content ng-controller="CotacaoCtrl" scroll="true" padding="true" class="has-header content-stable">

    <!--<div class="list " id="cotacao-card23">
      <div class=" item item-image">
        <img src="img/festa-infantil.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body " id="cotacao-list-item-container4" style=" background-color: #0a9dc7;">
        <p id="cotacao-null" style="margin-top:0px;color:#000000;" class=" "><strong style="font-size: large; color: #FFFFFF">{{dados.nome_evento}}</strong>
        </p>
      </div>
      <div class="item item-body " id="cotacao-list-item-container5">
        <p id="cotacao-markdown6" style="margin-top:0px;color:#000000;" class=" ">Some friendly
          <strong>markdown</strong>fdfdff</p>
        <p id="cotacao-markdown7" style="margin-top:0px;color:#000000;" class=" ">Some friendly
          <strong>markdown</strong>fdfdff</p>
      </div>
    </div>-->
    <div class="list card margin-top-card">

      <div class="item">
        <h3>Cliente</h3>
        <p>{{dados.nome_cliente}}</p>
        <h3>Tipo Evento</h3>
        <p>{{dados.nome_tipo_evento}}</p>
        <h3>Evento</h3>
        <p>{{dados.nome_evento}}</p>
      </div>

      <div class="item">
        <h3>Serviço</h3>
        <p>{{dados.nome_tipo_servico}}</p>
        <h3>Data do evento</h3>
        <p>{{dados.data_evento}}</p>
        <h3>Quantidade cotação</h3>
        <p>{{dados.qtd_cotacao}}</p>
        <h3>Quantidade pessoas</h3>
        <p>{{dados.qtd_pessoa}}</p>
        <h3>Descrição</h3>
        <p>{{dados.descricao}}</p>
        <div ng-show="dados.status_cotacao == 'ESCOLHIDA'">
          <h3>Data entrega</h3>
          <p>{{dados.data_entrega}}</p>
          <h3>Tipo pagamento</h3>
          <p>{{dados.tipo_pagamento}}</p>
          <h3>Prazo pagamento</h3>
          <p>{{dados.prazo_pagamento}}</p>
          <h3>Valor</h3>
          <p>{{dados.valor | currency:'R$ '}}</p>
          <h3>Validade cotação</h3>
          <p>{{dados.validade}}</p>
        </div>

      </div>
    </div>
  </ion-content>

  <script id="templates/modal-1.html" type="text/ng-template">
    <div class="modal">
      <header class="bar bar-header barra-superior">
        <h1 class="title font-barra-superior" style="text-align: center">Insira uma Justificativa</h1>
        <div class="button button-clear" ng-click="closeModal(1)"><span class="icon ion-close"></span></div>
      </header>
      <ion-content has-header="true" padding="true">
        <p>Rejeitar cotacao</p>
        <form id="cotacaoCancelarForm" name="cotacaoCancelarForm" novalidate ng-submit="cancelarCotacao()">
          <div class="list" style="padding-top: 10px;">
            <label class="item item-input item-stacked-label my-item">
              <div class="input-label my-font-form">Justificativa*</div>
              <input ng-model="cotacao.motivo" type="text" name="motivo" required ng-maxlength="50">
              <span ng-show="cotacaoCancelarForm.$submitted && cotacaoCancelarForm.motivo.$error.required"
                    class="cor-campo-novalid my-font-form-span">
                <i class="ion-information-circled"></i> campo obrigatório</span>
              <span ng-show="cotacaoCancelarForm.$submitted && cotacaoCancelarForm.motivo.$error.maxlength"
                    class="cor-campo-novalid my-font-form"><i class="ion-information-circled"></i> máximo 50 caracteres</span>
            </label>
            <!--<button class="button button-clear bar my-button-save" type="submit" form="cotacaoRejeitarForm">
              Salvar
            </button>-->
          </div>
        </form>
      </ion-content>
      <ion-footer-bar align-title="left" class="bar-stable">
        <button class="button icon-left ion-checkmark-round" style="margin-left: 45%; color: #0c60ee; padding: 0 0px;"
                type="submit" form="cotacaoCancelarForm">Salvar
        </button>
        <!--<button class="button" style="margin-left: 45%; color: #0c60ee" type="submit" form="cotacaoRejeitarForm">Salvar-->
        <!--</button>-->
      </ion-footer-bar>
    </div>
  </script>

  <script id="templates/modal-2.html" type="text/ng-template">
    <div class="modal">
      <header class="bar bar-header barra-superior">
        <h1 class="title font-barra-superior" style="text-align: center">Responder cotação</h1>
        <div class="button button-clear" ng-click="closeModal(2)"><span class="icon ion-close"></span></div>
      </header>
      <ion-content has-header="true" padding="true" scroll="true">
        <form id="cotacaoResponderForm" name="cotacaoResponderForm" novalidate ng-submit="responderCotacao()">
          <p>This is a modal</p>
          <div class="list" style="padding-top: 10px;">
            <label class="item item-input item-stacked-label my-item">
              <span class="input-label my-font-form">Data entrega*</span>
              <div ng-show="dados.status_cotacao !== 'ABERTA'"><p>{{dados.data_entrega}}</p></div>
              <input ng-model="cotacao.data_entrega" ng-show="dados.status_cotacao == 'ABERTA'" type="date"
                     name="data_entrega" format-date>
                     <!--name="data_entrega" format-date ng-blur="compareDates()">-->
            <span
              ng-show="cotacaoResponderForm.$submitted && cotacaoResponderForm.data_entrega.$error.required && dados.status_cotacao == 'ABERTA'"
              class="cor-campo-novalid my-font-form-span"><i
              class="ion-information-circled"></i> campo obrigatório</span>
            </label>
            <label class="item item-input item-stacked-label my-item">
              <div class="input-label my-font-form">Tipo pagamento*</div>
              <div ng-show="dados.status_cotacao !== 'ABERTA'"><p>{{dados.tipo_pagamento}}</p></div>
              <input ng-show="dados.status_cotacao == 'ABERTA'" ng-model="cotacao.tipo_pagamento" type="text"
                     name="tipo_pagamento" required ng-maxlength="20">
              <span
                ng-show="cotacaoResponderForm.$submitted && cotacaoResponderForm.tipo_pagamento.$error.required && dados.status_cotacao == 'ABERTA'"
                class="cor-campo-novalid my-font-form-span"><i
                class="ion-information-circled"></i> campo obrigatório</span>
              <span ng-show="cotacaoResponderForm.$submitted && cotacaoResponderForm.tipo_pagamento.$error.maxlength"
                    class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> máximo 20 caracteres</span>
            </label>
            <label class="item item-input item-stacked-label my-item">
              <div class="input-label my-font-form">Prazo pagamento*</div>
              <div ng-show="dados.status_cotacao !== 'ABERTA'"><p>{{dados.prazo_pagamento}}</p></div>
              <input ng-show="dados.status_cotacao == 'ABERTA'" ng-model="cotacao.prazo_pagamento" type="text"
                     name="prazo_pagamento" required
                     ng-maxlength="20">
              <span
                ng-show="cotacaoResponderForm.$submitted && cotacaoResponderForm.prazo_pagamento.$error.required && dados.status_cotacao == 'ABERTA'"
                class="cor-campo-novalid my-font-form-span"><i
                class="ion-information-circled"></i> campo obrigatório</span>
              <span ng-show="cotacaoResponderForm.$submitted && cotacaoResponderForm.prazo_pagamento.$error.maxlength"
                    class="cor-campo-novalid my-font-form-span"><i class="ion-information-circled"></i> máximo 20 caracteres</span>
            </label>

            <label class="item item-input item-stacked-label my-item">
              <span class="input-label my-font-form">Valor*</span>
              <div ng-show="dados.status_cotacao !== 'ABERTA'"><p>{{dados.valor}}</p></div>
              <input ng-show="dados.status_cotacao == 'ABERTA'" ng-model="cotacao.valor" type="text" name="valor"
                     mask="9.999,99" required>
            <span
              ng-show="cotacaoResponderForm.$submitted && cotacaoResponderForm.valor.$error.required && dados.status_cotacao == 'ABERTA'"
              class="cor-campo-novalid my-font-form-span"><i
              class="ion-information-circled"></i> campo obrigatório</span>
            </label>
            <label class="item item-input item-stacked-label my-item">
              <span class="input-label my-font-form">Validade cotação*</span>
              <div ng-show="dados.status_cotacao !== 'ABERTA'"><p>{{dados.validade}}</p></div>
              <input ng-show="dados.status_cotacao == 'ABERTA'" type="date" ng-model="cotacao.validade" name="validade" format-date>
            <span
              ng-show="cotacaoResponderForm.$submitted && cotacaoResponderForm.validade.$error.required && dados.status_cotacao == 'ABERTA'"
              class="cor-campo-novalid my-font-form-span"><i
              class="ion-information-circled"></i> campo obrigatório</span>
            </label>
          </div>
        </form>
      </ion-content>
      <ion-footer-bar align-title="left" class="bar-stable">
        <button class="button icon-left ion-checkmark-round" style="margin-left: 45%; color: #0c60ee; padding: 0 0px;"
                type="submit" form="cotacaoResponderForm">Salvar
        </button>
      </ion-footer-bar>
    </div>
  </script>

  <nav mfb-menu position="br"
       effect="zoomin"
       bgcolor='#337AB7'
       active-icon="fa fa-bars"
       resting-icon="fa fa-bars"
       toggling-method="click">

    <button ng-show="dados.status_cotacao == 'ABERTA'" mfb-button bgcolor='#009688' label="Responder" icon="ion-compose"
            ng-click="openModal(2)"></button>
    <button ng-show="dados.status_cotacao == 'ABERTA'" mfb-button bgcolor='#F44336' label="Rejeitar" icon="ion-close-round"
            ng-click="openModal(1)"></button>
    <button class="position-mfb-button" ng-show="dados.status_cotacao != 'ABERTA'" mfb-button bgcolor='#F44336'
            label="Cancelar" icon="ion-close-round" ng-click="openModal(1)"></button>
    <button class="position-mfb-button" ng-show="dados.status_cotacao == 'ESCOLHIDA'" mfb-button bgcolor='#009688' label="Concluir" icon="ion-checkmark-round"
            ng-click="concluirCotacao()"></button>
  </nav>

</ion-view>
