<ion-nav-view animation="slide-left-right"></ion-nav-view>
<ion-view animation="slide-left-right">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-divider">Cotações abertas</div>
      <div class="item item-body">

      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Cotações pendentes</div>
      <div class="item item-body"></div>
    </div>
    <div class="list card">
      <div class="item item-divider">Cotações escolhidas</div>
      <div class="item item-body"></div>
    </div>
    <div class="list card">
      <div class="item item-divider">Cotações concluidas</div>
      <div class="item item-body"></div>
    </div>
  </ion-content>
</ion-view>
