<ion-view hide-nav-bar="false">
  <ion-nav-title>
    <span class="font-barra-superior">Cotações</span>
  </ion-nav-title>
  <ion-content ng-controller="homeCtrl" padding="true" scroll="true" class="has-header content-stable"
               ng-show="viewEntered">

    <ion-refresher
      pulling-text="Atualizando..."
      on-refresh="doRefresh()">
    </ion-refresher>

      <ion-item class="my-list-card-abertas">
      <div class="item-icon-left">
      <i class="icon ion-ios-list-outline light my-custom-icon"></i>
      <h2 class="light my-font-card">{{data.cotacao_aberta}}</h2>
      <p class="light my-font-card-label">Cotações abertas</p>
      </div>
      </ion-item>

      <ion-item>
        <div>
          <a class="my-links" href="#/side-menu21/cotacoes-list/aberta">
            <div class="item-icon-right">
              <i class="icon ion-arrow-right-a" style="color: #5CB85C;"></i>
              <p class="my-links">Detalhes</p>
            </div>
          </a>
        </div>
      </ion-item>

      <ion-item class="my-list-card-pendentes" style="margin-top:7px;">
        <div class="item-icon-left">
          <i class="icon ion-ios-list-outline light my-custom-icon"></i>
          <h2 class="light my-font-card">{{data.cotacao_pendente}}</h2>
          <p class="light my-font-card-label">Cotações pendentes</p>
        </div>
      </ion-item>
      <ion-item>
        <a class="my-links" href="#/side-menu21/cotacoes-list/pendente">
          <div class="item-icon-right">
            <i class="icon ion-arrow-right-a" style="color: #337AB7;"></i>
            <p style="color: #337AB7;">Detalhes</p>
          </div>
        </a>
      </ion-item>

      <ion-item class="my-list-card-escolhidas" style="margin-top:7px;">
        <div class="item-icon-left">
          <i class="icon ion-ios-list-outline light my-custom-icon"></i>
          <h2 class="light my-font-card">{{data.cotacao_escolhida}}</h2>
          <p class="light my-font-card-label">Cotações escolhidas</p>
        </div>
      </ion-item>
      <ion-item>
        <a class="my-links" href="#/side-menu21/cotacoes-list/escolhida">
          <div class="item-icon-right">
            <i class="icon ion-arrow-right-a" style="color: #F0AD4E;"></i>
            <p style="color: #F0AD4E;">Detalhes</p>
          </div>
        </a>
      </ion-item>

      <ion-item class="my-list-card-concluidas" style="margin-top:7px;">
        <div class="item-icon-left">
          <i class="icon ion-ios-list-outline light my-custom-icon"></i>
          <h2 class="light my-font-card">{{data.cotacao_concluida}}</h2>
          <p class="light my-font-card-label">Cotações concluidas</p>
        </div>
      </ion-item>
      <ion-item>
        <a class="my-links" href="#/side-menu21/cotacoes-list/concluida">
          <div class="item-icon-right">
            <i class="icon ion-arrow-right-a" style="color: #D9534F;"></i>
            <p style="color: #D9534F;">Detalhes</p>
          </div>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
