<ion-nav-view animation="slide-left-right"></ion-nav-view>
<ion-view hide-back-button="true" hide-nav-bar="true" class="barra-superior">
  <ion-content ng-controller="loginCtrl" padding="true" has-header="false">

    <div class="text-center">
      <span class="circle">Festa Ideal</span>
      <div style="text-align:center;">
        <p>Bem vindo ao Festa Ideal</p>
      </div>
      <div style="color:#7D8286;text-align:center;">
        <p>Login</p>
      </div>
    </div>
    <!--<div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>-->
    <form name="loginForm" novalidate ng-submit="submeter()">
      <div style="margin-left: -15px;">
        <span class="cor-campo-novalid my-align-spam"> {{mensagem}}</span>
        <label class="item-input item-stacked-label">
          <input ng-model="login" type="text" name="login" required ng-maxlength="40" placeholder="Login" class="my-border">
              <span ng-show="loginForm.$submitted && loginForm.login.$error.required"
                    class="my-font-form"><i class="ion-information-circled"></i> campo obrigatório</span>
          </label>

          <label class="item-input item-stacked-label">
            <input ng-model="senha" type="password" name="senha" required ng-maxlength="20" placeholder="Senha" class="my-border">
              <span ng-show="loginForm.$submitted && loginForm.senha.$error.required"
                    class="my-font-form"><i class="ion-information-circled"></i> campo obrigatório</span>
          </label>

      </div>
      <div class="my-item-padding">
        <button type="submit" class="button button-light button-block button-outline">Entrar</button>
      </div>
      <div class="padding botao01" id="esqueci-senha">
        <a href="#/recuperar-senha" class="botao01">Esqueci a senha</a>
      </div>
      <!--<a href="#" onclick="window.open('/recuperar-senha', '_system', 'location=yes'); return false;" id="login-button2"-->
      <!--class=" button button-positive  button-block button-clear my-font-form">Esqueci a senha</a>-->
    </form>
  </ion-content>
</ion-view>
