<ion-nav-view animation="slide-left-right"></ion-nav-view>
<ion-view hide-back-button="true" hide-nav-bar="true" class="barra-superior">
  <ion-content ng-controller="loginCtrl" padding="true" has-header="false">

    <div class="text-center">
      <div>
        <img src="img/logo.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto; margin-top: 50px;">
      </div>
    </div>
    <form name="loginForm" novalidate ng-submit="submeterLogin()" style="margin-top: 25px;">
      <div style="margin-left: -15px;">
        <span ng-if="mensagem" class="my-align-spam"><i class="ion-information-circled"></i> {{mensagem}}</span>
        <label class="item-input item-stacked-label">
          <input ng-model="login" type="email" name="login" required ng-maxlength="40" placeholder="Login"
                 class="my-border my-item-input my-color-input" ng-focus="clearMessage()" autocomplete="off">
              <span ng-show="loginForm.$submitted && loginForm.login.$error.required && !clearForm"
                    class="my-font-form-span"><i class="ion-information-circled"></i> campo obrigatório</span>
          <span ng-show="loginForm.$submitted && loginForm.login.$error.email && !hideSpan" class="my-font-form-span">
                    <i class="ion-information-circled"></i> e-mail inválido</span>
        </label>

        <label class="item-input item-stacked-label">
          <input ng-model="senha" type="password" id="senha" name="senha" required ng-maxlength="14" placeholder="Senha"
                 class="my-border my-item-input my-color-input">
              <span ng-show="loginForm.$submitted && loginForm.senha.$error.required && !clearForm"
                    class="my-font-form-span"><i class="ion-information-circled"></i> campo obrigatório</span>
        </label>

      </div>
      <div class="my-item-padding">
        <button type="submit" class="button button-login-color button-block" style="color: #FFFFFF">Entrar</button>
      </div>
    </form>
    <div class="padding botao01" id="esqueci-senha">
      <a href="#/recuperarSenha" class="botao01" style="color: #FFFFFF">Esqueci minha senha</a>
    </div>
  </ion-content>
</ion-view>
