<ion-side-menus data-componentid="side-menu21">
  <ion-side-menu-content>
    <ion-nav-bar class="barra-superior">
      <ion-nav-back-button class="button-clear no-text button-royal"></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-profile" style="background-color: #F9A141; height: 240px;">
      <div class="profile">
        <img class="profile-picture" src="img/logo.png" style="height:140px; border-radius: 0px;"/>
        <p style="margin-top: 10px;">Bem vindo(a)</p>
        <p style="margin-top: 10px;">{{nomeFornecedor.FANTASIA}}</p>
      </div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header" scroll="false" style="top: 240px;">
      <ion-list data-componentid="list1">
        <ion-item class="item-icon-left my-icon-color my-font-form no-border" ui-sref="menu.home" menu-close=""
                  data-componentid="list-item1">
          <i class="icon ion-ios-home"></i><span style="font-weight: 600">Home</span>
        </ion-item>
        <ion-item class="item-icon-left my-icon-color my-font-form no-border" ui-sref="menu.agenda" menu-close=""
                  data-componentid="list-item2">
          <i class="icon ion-ios-calendar-outline"></i><span style="font-weight: 600">Agenda</span>
        </ion-item>
        <ion-item class="item-icon-left my-icon-color my-font-form no-border" ui-sref="menu.alterarSenha" menu-close=""
                  data-componentid="list-item2">
          <i class="icon ion-ios-locked"></i><span style="font-weight: 600">Alterar Senha</span>
        </ion-item>
        <ion-item class="item-icon-left my-icon-color my-font-form my-item-line my-position-button"
                  ng-click="doLogoutBtn()" menu-close="" data-componentid="list-item4">
          <i class="icon ion-log-out"></i><span style="font-weight: 600">Sair</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
