<ion-nav-bar>
</ion-nav-bar>
<ion-view hide-nav-bar="false" animation="slide-left-right">
  <ion-nav-title>
    <span class="font-barra-superior">Recuperar senha</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear bar my-button-save" type="submit"
            form="recuperarSenhaForm">
      Enviar
    </button>
  </ion-nav-buttons>
  <ion-content ng-controller="RecuperarSenhaCtrl" scroll="true" padding="true" class="has-header">

    <div class="content item-body">
      <div class="list">
        <form id="recuperarSenhaForm" name="recuperarSenhaForm" novalidate ng-submit="submeter()">

          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label my-font-form">E-mail*</span>
              <input ng-model="recuperarSenha.email" type="email" name="email" required ng-maxlength="40"
                     ng-blur="verificaEmail()">
              <span ng-show="recuperarSenhaForm.$submitted && recuperarSenhaForm.email.$error.required" class="cor-campo-novalid my-font-form">campo obrigatório</span>
              <span ng-show="recuperarSenhaForm.$submitted && recuperarSenhaForm.email.$error.email" class="cor-campo-novalid my-font-form">e-mail inválido</span>

            </label>
          </div>
        </form>
      </div>
    </div>

  </ion-content>

</ion-view>
